@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    --bg: #fff5f0;
    --text: black;
    --blue: #3355ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --text: white;
    }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Golos Text', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    border-collapse: collapse;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

img {
    user-select: none;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.display {
    font-family: 'Unbounded', sans-serif;
}

.font-black { font-weight: 900; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

a {
    color: var(--text);
}

#navbar {
    width: 100%;
    padding: 0.5rem;

    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--bg);
    border-bottom: var(--text) 2px solid;
}

#navbar a {
    text-decoration: none;
    padding: 0.175rem 0.5rem calc(0.175rem + 2px);

    transition-property: color background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#navbar > a:first-of-type {
    font-family: "Unbounded", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 0.175rem;
}

#navbar a:hover, #navbar a.selected {
    background-color: var(--text);
    color: var(--bg);
}

.flash {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    user-select: none;
    background-color: var(--blue);
    color: white;
    border-bottom: var(--text) 2px solid;
    text-align: center;
}

.scrollmark {
    position: relative;
    top: -49.281px;
}

.section {
    display: block;
    text-decoration: none;
    min-width: 100%;
    display: flex;
    text-transform: uppercase;
    user-select: none;
    overflow: hidden;
}

.section.blue {
    background-color: var(--blue);
    color: white;
}

.scrollsec {
    width: 200%;
    padding: 0.25rem 0;
    flex-shrink: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.5rem;
    border-bottom: black 2px solid;
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;

    animation: 15s scroll linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}