@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    --bg: #fff5f0;
    --text: black;
    --blue: #3355ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --text: white;
    }
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Golos Text', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    border-collapse: collapse;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

img {
    user-select: none;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.display {
    font-family: 'Unbounded', sans-serif;
}

a {
    text-decoration: none;
}

article a,
#meta-bar a {
    text-decoration: underline;
}

article header a {
    text-decoration: none;
}

.font-black { font-weight: 900; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

a {
    color: var(--text);
}

#header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

body.has-post #header {
    padding-bottom: 2rem;
}

#header img {
    height: 12rem;
}

body.has-post #header img {
    height: 8rem;
}

#header h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 0;
    text-decoration: none;
}

body.has-post #header h1 {
    font-size: 3rem;
}

.flash {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    user-select: none;
    background-color: var(--blue);
    color: white;
    border-bottom: var(--text) 2px solid;
    text-align: center;
}

.scrollmark {
    position: relative;
    top: -49.281px;
}

.section {
    display: block;
    text-decoration: none;
    min-width: 100%;
    display: flex;
    text-transform: uppercase;
    user-select: none;
    overflow: hidden;
}

.section.blue {
    background-color: var(--blue);
    color: white;
}

.scrollsec {
    width: 200%;
    padding: 0.25rem 0;
    flex-shrink: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.5rem;
    border-bottom: black 2px solid;
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;

    animation: 15s scroll linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

article {
    /* width: calc(100vw * 0.75 * 0.75 - 1rem); */
}

body:not(.has-post) article {
    margin-bottom: 2rem;
}

article > header {
    margin-bottom: 1rem;
}

article > header img {
    width: 100%;
    aspect-ratio: 16 / 3;
    object-fit: cover;
    object-position: center;
}

article > header h1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 0rem;
}

article > header .headcol {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article > header .headcol p:nth-child(1) {
    margin: 0;
    font-weight: 900;
    font-family: 'Unbounded', sans-serif;
}

article > header .headcol p:nth-child(2) {
    text-align: right;
}

article p {
    margin-bottom: 1rem;
}

article h1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

article h2 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

article h2:not(:first-child) {
    margin-top: 2rem;
}

article img {
    display: block;
    width: 75%;
    margin: 1rem auto;
}

article pre {
    width: 100%;
    overflow-x: auto;
}
