#hero {
    width: 100%;

    display: flex;

    border-bottom: var(--text) 2px solid;
}

#hero > div {
    flex-grow: 1;
    padding: 1rem;
}

#hero > img {
    flex-shrink: 0;

    border-left: var(--text) 2px solid;
}

@media (max-width: 767px) {
    #hero > div {
        border-bottom: var(--text) 2px solid;
    }

    #hero > img {
        border-left: none;
    }

    #hero {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    #hero {
        height: 16rem;
    }
}
