body {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 2rem;
    padding: 4rem 12.5%;
}

#meta-bar {
    padding-top: 16rem;
}

body.has-post #meta-bar {
    padding-top: 10rem;
}

@media (max-width: 767px) {
    #hero > div {
        border-bottom: var(--text) 2px solid;
    }

    #hero > img {
        border-left: none;
    }

    #hero {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    #hero {
        height: 16rem;
    }
}
