<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mogery</title>

    {{{ resource "global.css" }}}
    {{{ resource "index.css" }}}
</head>
<body>
    <a href="#" id="flash">
        <span class="display font-black">NEW POST:</span>&nbsp;
        My chat app is technically a videogame
    </a>
    <nav id="navbar">
        <a href="/#hero" class="display font-black">MOGERY</span>
        <a href="/blog">blog</a>
    </nav>
    <div id="hero">
        <div>
            <p>Hi! I'm Gergő.</p>
        </div>
        <img src="/hero.jpg">
    </div>
</body>
</html>