<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mogery</title>

    {{{ resource "global.css" }}}
    {{{ resource "index.css" }}}
    {{{ resource "elem-blog.css" }}}
</head>
<body>
    {{!-- <a href="#" class="flash">
        <span>
            <span class="display font-black">NEW POST:</span>&nbsp;
            My chat app is technically a videogame?!
        </span>
    </a> --}}

    <nav id="navbar">
        <a href="#" class="selected">mogery</span>
        <a href="/blog">blog</a>
    </nav>

    <div id="hero">
        <div>
            <p>Hi! I'm Gergő.</p>
            <p>
                I'm a <span id="age"><noscript>17</noscript></span>-year-old programmer, designer, musician, and content creator from Hungary.
                <span id="birthday" style="display: none; color: #ee0000;">It's my birthday!</span>
            </p>
            <p>This site is a work-in-progress. Check back later for more stuff!</p>
        </div>
        <img src="/hero.jpg">
    </div>

    <div class="scrollmark" id="blog"></div>

    <a href="/blog" class="section blue">
        <span>Blog</span>
    </a>

    <div class="blog">
        {{#each blog}}
            <a class="post" href="/blog/{{ this.urlname }}">
                <div class="img" style="background-image: linear-gradient(black, black), url({{ this.image }});"></div>
                <div class="snippet">
                    <h3>{{this.title}}</h3>
                    <div>
                        <span>{{this.date}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </div>
                </div>
            </a>
        {{/each}}
        <div class="noposts">
            <span>that's all</span>
            <span>for now</span>
            <div class="dotline" aria-hidden="true">.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</div>
        </div>
    </div>

    {{{ resource "index.js" }}}
    {{{ resource "global.js" }}}
</body>
</html>
