<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if post}}
    <title>{{ post.title }} - mogery</title>
    {{else}}
    <title>mogery</title>
    {{/if}}

    {{{ resource "global.css" }}}
</head>
{{#if post}}
<body lang="en" class="has-post">
{{else}}
<body lang="en">
{{/if}}
    <div id="content-bar">
        {{#if post}}
        <a href="/">
        {{/if}}
        <div id="header">
            <img src="/pfp.png">
            <h1 class="display">MOGERY</h1>
        </div>
        {{#if post}}
        </a>
        {{/if}}

        {{#if post}}
        <article>
            <header>
                <div class="headcol">
                    <p>BLOG</p>
                    <p>{{ post.date }}</p>
                </div>
                <img src="{{ post.image }}">
                <h1>{{ post.title }}</h1>
            </header>

            <p>{{ post.description }}</p>

            {{{ post.html }}}
        </article>
        {{else}}
        {{#each blog}}
        <article>
            <header>
                <a href="{{ this.url }}">
                    <div class="headcol">
                        <p>BLOG</p>
                        <p>{{ this.date }}</p>
                    </div>
                    <img src="{{ this.image }}">
                    <h1>{{ this.title }}</h1>
                </a>
            </header>

            <p>{{ this.description }}</p>
        </article>
        {{/each}}
        {{/if}}
    </div>

    <div id="meta-bar">
        <p>Hi! I'm Gergő, aka mogery or mog. (he/they)</p>
        <p>
            I'm an <span id="age"><noscript>18</noscript></span>-year-old programmer, designer, musician, and content creator from Hungary.
            <span id="birthday" style="display: none; color: #ee0000;">It's my birthday!</span>
        </p>
        <p> <a target="_blank" href="https://youtube.com/@mogeryy">YouTube</a> |
            <a target="_blank" href="https://social.treehouse.systems/@mogery">Mastodon</a> |
            <a target="_blank" href="https://cohost.org/mog">Cohost</a></p>
    </div>
     {{{ resource "global.js" }}}
</body>
</html>
